/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
/* header#masthead{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
}
header ~ div.fl-page-content{
	padding-top: 206px;
} */

.firefox .bx-wrapper .bx-viewport{
	overflow: visible!important;
} 
.fl-post-title > a, .fl-post-title {
    font-size: 30px;
}
.fl-module .gform_wrapper .gform_body .gfield textarea {
    height: 120px!important;
}
.gfield_captcha_input_container input {
    max-width: 80px!important;
}
.fl-post-title > a.post-edit-link {
    font-size: 16px;
}
.product-colors li.found {
    margin-right: 5px!important;
}
.f-0 h1 {
	font-size: 0px !important; 
}
.gform_button.button:hover{
	background: #000 !important;
}
.fl-content.fl-content-left article.fl-post .row.fl-post-image-beside-wrap {
    margin-left: 0px!important;
    margin-right: 0px!important;
}
/* .fl-slide-0 .fl-slide-bg-photo:after {
    content: "";
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */
#responsive-menu-container #responsive-menu-additional-content{
	display: block !important;
    width: 100%;
    text-align: left;
}
#responsive-menu-additional-content .storename .phone span{
	color: #fff !important;
}
.large.gfield_select{
	background: #fcfcfc !important;
}
#responsive-menu-additional-content .storename .phone span:before{
	color: #fff !important;
	content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 17px;
    vertical-align: middle;
}
.njba-tab-title{
	font-weight: 500;
}
.fl-heading span,
h1,h2,h3,h4,h5,h6{
	font-weight: 600 !important;
}
.fl-page-bar-row.row{
	display: flex;
	align-items: center;
}
.menu .phone span:before{
	content: "\f095";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
	margin-right: 5px;
    margin-left: 5px;
    font-size: 17px;
	vertical-align: middle;
}
.menu-top-bar-menu .phone span{
	font-weight: 500;
}
.searchIcon {
    position: absolute;
    right: 10px;
    top: 29px;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
	background: #8a101c;
    padding: 30px;
}
.searchIcon .ua-icon-icon-111-search2{
    cursor: pointer;
}
.header-right-sec > .fl-node-content > div.menu-top-bar-menu{
	width: 92%;
}
.header-right-sec > .fl-node-content > div.searchIcon{
	width: 8%;
}
.fl-page-nav .navbar-nav li>a {
    padding: 15px 12px !important;
}
#page-region .Wrapper__cls1___2LpwQ.Wrapper__media-desktop-up___1P3Wz {
    padding-right: 2%!important;
    padding-left: 2%!important;
}
.fl-slide-1 .fl-slide-foreground {
	max-width: 100% !important;
}
.fl-slide-1 .fl-slide-foreground .fl-row-content-wrap{
	background-image: none !important;
}
/* .fl-slide{
	min-height: 600px !important;
} */
.fl-slide-0 .fl-slide-photo{
	margin-top: 80px !important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: -1px !important;
}
div.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gfield_checkbox li label {
    color: #414042;
}
div.gform_wrapper .gfield .ginput_container_select>select{
	   border: 1px solid #414042 !important;
}
/* #homePage header ~ .fl-page-content {
	padding-top: 130px;
} */

 .Wrapper__cls1___2LpwQ.Wrapper__media-tablet-up___1cMla {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.fl-page-header-logo img{
	    width: 230px !important;
}
.mobileOnly {
    display: none;
}
.direction a{
	padding: 14px 24px !important;
}
/* #homePage #wpadminbar ~ .fl-page header.fixedHeader{
	top: 32px;
}  */
.desktopOnly{
    display: block;
}

.box-slider-featured-carpet .njba-logo-carousel-body .bx-wrapper .njba-logo-inner-wrap .njba-logo-image-responsive{
max-width: 150px;
}

/* #homePage header.fixedHeader {
    position: fixed;
    z-index: 9;
    right: 0;
    left: 0;
    top: 0;
    background: #ffffff;
} */
.fl-post .fl-post-image-beside {
    float: none!important;
    margin-right: 25px;
    width: 100%!important;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.defaultActive>a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
    color: #8a101c;
}
.product-attributes table {
		table-layout: fixed!important;
	}
.fl-page-nav-right.fl-page-header-fixed,
.fl-page-header-fixed,
.fl-page-header {
    background: #ffffff;
}

.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
    top: 10px;
    right: 0;
}

.fl-slide-text>p {
    display: none !important;
}


.iscwp-gallery-slider .slick-dots li button,
.bx-wrapper .bx-pager.bx-default-pager a {
    border-color: #c7c7c7;
    background: #c7c7c7 !important;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50px;
}

.iscwp-gallery-slider .slick-dots li.slick-active button,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #444 !important;
    border-color: #444;
}

.fl-node-5cd54cfc43bf0 .uabb-social-share-horizontal .uabb-social-share-link-wrap {
    margin-bottom: 0 !important;
}

#responsive-menu-wrapper {
    padding: 50px 20px !important;
}

div#responsive-menu-search-box {
    width: calc(100% - 60px)
}

div#responsive-menu-additional-content {
    float: right;
}
.firefox .fl-content-slider .bx-loading {
	display: none!important;
}
.firefox .fl-content-slider .fl-slide {
	visibility: visible!important;
}
#responsive-menu-container .responsive-menu-search-box {
    border: 0 !important;
    border-bottom: 1px #898989 solid !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link,
#responsive-menu-container #responsive-menu-search-box,
#responsive-menu-container #responsive-menu-additional-content,
#responsive-menu-container #responsive-menu-title {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item>.responsive-menu-item-link {
    text-transform: uppercase;
    color: #dadada;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.5 !important;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    font-size: 13px;
    display: inline-block;
    width: auto;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a,
#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    line-height: .5 !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
    position: static;
    height: 40px !important;
    right: -15px !important;
    line-height: 28px !important;
    flex: 1;
    padding: 0 15px;
    text-align: left;
    background: transparent !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active {
    line-height: 36px !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas {
    color: #dadada;
    font-size: 16px;
    vertical-align: middle;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas:before {
    vertical-align: -webkit-baseline-middle;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
    text-transform: uppercase;
    font-weight: 400;
    color: #C0C0C0;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.3 !important;
}

#responsive-menu-container #responsive-menu {
    margin-top: 20px;
}

.toggleNavSlide .responsive-menu-inner {
    transform: rotate(45deg);
    background: #DEDEDE !important;
}

.toggleNavSlide .responsive-menu-inner::before {
    top: 0;
    opacity: 0;
}

.toggleNavSlide .responsive-menu-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    background: #DEDEDE !important;
}
.slick-slide{
	min-height: 300px !important;
	display: flex !important;
	align-items: center;
}

.iscwp-gallery-grid.iscwp-image-fit .iscwp-col-5 .iscwp-img-wrp,
.iscwp-image-fit.slidestoshow-5 .iscwp-img-wrp {
    height: 320px;
}

.button-wrapper a.button.alt {
    border-color: #8a101c;
    background: #8a101c;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    color: #ffffff;
    background: #414042;
    border-color: #414042;
}
.product-detail-layout-4 .product-swatch-inner .button-wrapper a.button{
    background: #414042!important;
    color:#fff;
    border:0px!important;
}
.product-detail-layout-4 .product-swatch-inner .button-wrapper a.button:hover{
    line-height: none!important;
    background:#8a101c!important;
}
.button-wrapper a:not(.button) {
    text-align: left;
    width: 100%;
    font-weight: 400;
    color: #414042;
}

.product-variations {
    padding: 50px 0;
    width: 100vw;
    position: relative;
    margin-left: -50vw !important;
    left: 50%;
    background: #f1f1f1;
}

.product-variations .color_variations_slider {
    max-width: 1280px;
    margin: 0 auto;
}

.product-variations>h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-variations .color-boxs-inners {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.product-box.pdp2-leftbox .row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.product-box h1 {
    font-weight: 500;
    font-size: 34px;
}

.product-box.pdp2-leftbox .row .product-colors {
    margin-right: 30px;
    border-right: 1px solid #8a101c;
    flex: 1;
    padding-right: 40px;
}

.product-box.pdp2-leftbox .row .col-md-12:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 15px;
}

.product-box.pdp2-leftbox h2 {
    display: none;
}
.product-grid.btn-grey .product-variations1>h5, .product-grid.btn-grey>h4>span, .product-grid .fl-button-text, .floorte-color, .featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button, .fl-photo-caption {
    font-size: 14px!important;
}
/* input AM & PM */
.gform_wrapper .gfield .ginput_container_select,
.gform_wrapper .gfield .gfield_time_ampm {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    display: flex !important;
    align-items: baseline;
}

.gform_wrapper .gfield .ginput_container_select>select,
.gform_wrapper .gfield .gfield_time_ampm.ginput_container>select {
    width: 100% !important;
    max-width: 100% !important;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    font-size: 1em;
}

.gform_wrapper .gfield .ginput_container_select:after,
.gform_wrapper .gfield .gfield_time_ampm:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 20px;
    border-top: 8px solid black;
    opacity: 0.5;

    content: "";
    width: 0;
    height: 0;
    position: relative;
    pointer-events: none;
	position: absolute;
    top: 35px;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.defaultActive.nav-item .nav-link > .fa{
    color: #8a101c !important;
}

.facet_filters strong{
    color: #8a101c;
}
.fl-fixed-header.admin-bar .fl-page-bar{
    border-bottom: 0;
}

.fl-page-bar .message{
    text-transform: uppercase;
    font-size: 16px;
}
#insta-gallery-feed-1 .insta-gallery-actions,
#insta-gallery-feed-1 .qligg-icon-prev,
#insta-gallery-feed-1 .qligg-icon-next{
    display: none;
}

#insta-gallery-feed-1 .insta-gallery-list{
    margin-bottom: 50px;
}
.galleries-main-links-wrp .fl-col-content .fl-col .fl-module-photo .fl-photo a{
    transition: all 0.5s;
}
.galleries-main-links-wrp .fl-col-content .fl-col .fl-module-photo .fl-photo a:hover img{
    border-color: #000;
}
.galleries-main-links-wrp .fl-col-content .fl-col .fl-module-photo .fl-photo a img{
    border: 3px solid #8a101c;
}
.galleries-main-links-wrp .fl-col-content .fl-col .fl-module-photo .fl-photo .fl-photo-caption{
    font-size: 18px;
    text-transform: uppercase;
    color:#8a101c !important;
    font-weight: 600;
}
@media(min-width: 1199px) {
.uamodal-5e9d47700c123 .uabb-content {
    width: 1100px!important;
}

 .uamodal-5e9d5f77c29aa .uabb-content {
    width: 1100px!important;
}
}
@media(max-width:1024px) {
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 4px;
    }
    .fl-node-5cd2a2a142cd0 .fl-button-wrap,
    .fl-node-5cd2a2a142cd1 .fl-button-wrap{
        text-align: left;
    }
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142cce,
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142ccf{
        width: auto !important;
        margin-right: 10px;
    }

}
@media(max-width:992px) {
    .fl-page-nav-wrap {
        background-color: #fff;
    }

    .fl-page-nav-right .fl-page-nav-collapse {
        display: flex !important;
        justify-content: space-between;
    }

    /* #homePage header.fixedHeader+.fl-page-content {
        padding-top: 158px;
    } */

    .homepageslide .fl-node-5cd2a2a142cc9 {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    .cat-boxesHomepage .fl-col-group {
        display: flex;
    }

    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content .fl-col-group {
        padding: 0 20px;
    }

    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 * {
        font-size: 32px !important;
        color: #414042 !important;
    }

    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        font-size: 16px !important;
        color: #414042 !important;
    }

    .footerSocial .fl-icon-group-right {
        text-align: center;
    }
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: flex;
    }

    .gform_wrapper .gfield_checkbox li label, .gform_wrapper .gfield_radio li label{
        max-width: 100% !important;
    }
    .product-box.pdp2-leftbox .row .col-md-12:nth-child(2){
        flex: 1;
    }
    .product-variations .slick-slider .slick-next{
        background: #ffffff;
        right: 0;
    }
    .product-variations .slick-slider .slick-prev{        
        background: #ffffff;
        left: 0;
    }
}
.featured-product-item.slick-slide{
	display: block !important;
} 
.menu-item-text{
	text-transform: uppercase !important;
}
@media(max-width:768px) {
	#responsive-menu-item-974896 a span{
		padding: 0 31px;
    	font-weight: 400;
		line-height: 1;
	}

	a.arrow.slick-prev.slick-arrow {
		left: -15px!important;
	}
	a.arrow.slick-next.slick-arrow {
		right: -15px!important;
	}
	div.product-variations .slick-slider .slick-arrow{
		top: 33%!important;
		right: 0px!important;
	}
	div.product-variations .slick-slider .slick-prev{
		left: 0px!important;
	}
	#responsive-menu-item-974896 a{
		height: auto !important;
	}
	.slick-slide{
		min-height: 300px !important;
		display: flex !important;
   		 align-items: center;
	}
	.fl-page-bar{
		display: none;
	}
	.max-width-issue{
		max-width: 400px !important;
		margin: 0 auto !important;
	}
	.fl-module-content-slider ~ .fl-module-uabb-advanced-menu{
		margin-top: -200px;
	}
	footer .fl-module-photo  img{
		max-width: 300px;
	}
	.post-1159  .fl-col-content{
		min-height: auto !important;
	}
    /* Slider height issue on mobile open */

    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
    
    /* Slider height issue on mobile closed */

}
.slick-track{
	display: flex !important;
	align-items: center;
}
.fl-page-nav .navbar-nav .sub-menu li>a {
    padding: 8px 12px !important;
}
@media(max-width:767px) {
	.gform_wrapper .gfield .ginput_container_select:after, .gform_wrapper .gfield .gfield_time_ampm:after {
		top: 30px!important;
	}
	.product-box.pdp2-leftbox .row{
		flex-wrap: wrap !important ;
	}
	#responsive-menu-item-974896 a span {
		padding: 0px 26px;
		font-weight: 400;
		line-height: 1.5;
	}
	#responsive-menu-item-974896{
		margin-bottom: 8px !important; 
	}
	footer a,
	footer h6{
		text-align: center !important;
	}
	h1 {
		font-size: 30px !important;
	}
	.fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-button-close,
	.fixedHeader .fl-page-header-row.row .col-sm-12.fl-page-nav-col{
        display: none !important;
    }
     .fixedHeader .fl-page-header-row.row {
        display: flex;
    }
    .fixedHeader .fl-page-header-row.row .col-sm-12 {
        flex: 1;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }
    .fl-page-header-primary .fl-logo-img{
        max-width: 100% !important;
    }
    .fl-page-nav-right .fl-page-nav-collapse{
        position: static !important;
        width:  auto !important;
    }
    
    .fl-page-nav .navbar-nav li>a{
        padding: 15px 12px  !important;
    }
    .fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-nav-offcanvas-collapse.navbar-collapse{
        opacity: 1 !important;
        display: flex !important;
        justify-content: flex-end;
        overflow: visible !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        border-top: 0 !important;
    }
    #menu-top-bar-nav{
        display: none;
    }
    #menu-top-bar-nav>li{
        border: 0;
    }
    .defaultActive.nav-item .nav-link{
        font-size: 0;
    }
    .defaultActive.nav-item .nav-link > .fa {
        font-size: 24px;
    }
    /*
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        padding: 0;
        border: 0;
        right: 0;
        width: 70px;
        opacity: 1;
        height: 70px !important;
        left: auto !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        position: absolute;
        overflow: visible !important;
    }
    .responsive-menu-open .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse{
        width: 100%;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse .fl-button-close{
        display: none   ;
    }

    button#responsive-menu-button {
        position: absolute !important;
        height: 70px !important;
    } */
  
    .mobileOnly {
        display: block;
    }

    .desktopOnly{
        display: none !important;
    }

    /* .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse ul#menu-top-bar-nav {
        display: none;
    } */

    /* #homePage header.fixedHeader+.fl-page-content {
        padding-top: 95px;
    } */
	footer .fl-photo-content img{
		height: 120px;
    	text-align: center;
	} 

    .cat-boxesHomepage .fl-col-group {
        display: block;
    }

    .cat-boxesHomepage .fl-photo-content {
        text-align: center;
    }

    
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 {
        text-align: left;
    }

    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        text-align: left;
    }

    
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: block;
    }

    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo{
        margin-right: 0;
        padding-bottom: 0 !important
    }
    .fixedHeader.fl-page-nav-right .fl-page-header-container{
        padding-bottom: 10px;
    }

    .fixedHeader .fl-page-header-row.row .col-sm-12.fl-page-header-logo-col{
        padding-right: 0;
        justify-content: flex-start;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-button .fl-button-text{
        font-size: 12px !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .homepageslide a.fl-button{
        padding: 10px 10px !important;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col{
        flex: 1;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col .fl-button-wrap{
        text-align: left;
    }

}



@media(max-width:480px) {
	.calendly-inline-widget {
	    min-width: 100%!important;
}
    #responsive-menu-container {
        width: 75% !important;
        z-index: 99999 !important;
    }
}
.product-detail-layout-5 .product-variations
{
	margin-top:0px !important;
}

.responsive-menu-box:hover{
	cursor: pointer!important;
}

button#submit_button,
form#form_9b1390a8-36ca-4c80-b2a7-92a9c4b813e5 .button{
	background: #8a101c !important;
}

.contact-form .uabb-gf-style form .gform_body .gfield_label{
    display: block;
    color: #fff !important;
}
.contact-form .uabb-gf-style .gform_wrapper .gfield_checkbox li label{
    color: #fff !important;
    white-space: normal !important;
    overflow: initial !important;
    text-overflow: inherit !important;
    padding-left: 25px;
    min-height: 20px;
    line-height: 18px;
}
.contact-form .uabb-gf-style .gform_wrapper .gfield_checkbox li label:before{
    position: absolute;
    top: 0;
    left: 0;
}
@media(max-width:320px){
	  button#responsive-menu-button{
        width: 40px !important;
    }

	.fl-page-header-primary .fl-logo-img {
		max-width: 80% !important;
	}
	button#responsive-menu-button{
		top: 20px !important;
	}
}